/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply default fonts */
body {
    font-family: 'Montserrat', Arial, sans-serif;
    background: rgb(0, 0, 0);
    color: white;
    overflow: hidden; /* Prevents horizontal scroll */
}

/* Navbar */
header {
    padding: 1rem;
    text-align: center;
}

#vanta-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Full screen */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content {
    position: relative;
    z-index: 2; /* above the Vanta background */
}

h2 {
    font-size: 3rem;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    opacity: 0.7;
}

/* Footer */
footer {
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}
